@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Design system colors */
  --color-pri-lighter: 319deg 100% 87%;
  --color-pri-light: 319deg 100% 77%;
  --color-pri-base: 321deg 94% 44%;
  --color-pri-dark: 321deg 94% 34%;
  --color-pri-darker: 321deg 94% 24%;

  --color-sec-lighter: 181deg 74% 80%;
  --color-sec-light: 181deg 98% 67%;
  --color-sec-base: 181deg 98% 37%;
  --color-sec-dark: 181deg 98% 27%;
  --color-sec-darker: 181deg 98% 17%;

  --color-neu-0: 0deg 0% 100%;
  --color-neu-50: 0deg 0% 98%;
  --color-neu-100: 0deg 0% 96%;
  --color-neu-200: 0deg 0% 93%;
  --color-neu-300: 0deg 0% 87%;
  --color-neu-400: 0deg 0% 74%;
  --color-neu-500: 0deg 0% 60%;
  --color-neu-600: 0deg 0% 45%;
  --color-neu-700: 0deg 0% 35%;
  --color-neu-800: 0deg 0% 20%;
  --color-neu-900: 0deg 0% 9%;

  /* CSS Variables for layout */
  --navbar-h: 72px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-neu-0: 0deg 0% 0%;
    --color-neu-50: 0deg 0% 2%;
    --color-neu-100: 0deg 0% 4%;
    --color-neu-200: 0deg 0% 7%;
    --color-neu-300: 0deg 0% 13%;
    --color-neu-400: 0deg 0% 26%;
    --color-neu-500: 0deg 0% 40%;
    --color-neu-600: 0deg 0% 55%;
    --color-neu-700: 0deg 0% 65%;
    --color-neu-800: 0deg 0% 80%;
    --color-neu-900: 0deg 0% 91%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

.gql-focus-visible,
.gql-all-anchors-focusable a {
  @apply focus-visible:outline focus-visible:outline-[3px] focus-visible:outline-offset-[5px] focus-visible:outline-neu-900;
}

.gql-container {
  @apply mx-auto w-full max-w-[120rem];
}

.gql-section {
  @apply px-4 py-8 lg:px-12 xl:gap-x-24 xl:px-24 3xl:px-[240px];
}

.gql-navbar-strip,
.gql-conf-navbar-strip {
  @apply relative [contain:paint] before:sticky before:top-0 before:z-[9] before:-mt-[var(--navbar-h)] before:block before:h-[var(--navbar-h)] before:w-full before:content-[''];
}

.gql-navbar-strip {
  --navbar-h: var(--nextra-navbar-height);
}

.gql-radial-gradient {
  background-image: radial-gradient(
    ellipse at 50% 50%,
    hsl(var(--color-neu-600)) 0%,
    transparent 75%
  );
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --navbar-h: 70px;
}

/* without this Headless UI breaks sticky navbar */
html:has([role="listbox"][data-open]),
html:has([role="menu"][data-open]) {
  overflow: visible !important;
}

@supports (background: -webkit-named-image(i)) {
  html {
    /* Safari moves the fixed Navbar when overscrolling and it looks bad */
    overscroll-behavior-y: none;
  }
}
